<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
</head>
<style>
    .error {
        color: red;
        font-style: italic;
    }

    #imageDetails {
        display: flex;
        gap: 20px;
    }
</style>
<body>
<div align="center">
    <h1>Create New Product</h1>
    <br/>
    <form th:action="@{'/rawUI/products/createPhone'}" th:object="${phoneDto}" method="post"
          enctype="multipart/form-data">
        <table border="0" cellpadding="10">
            <tr>
                <td>Product Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
                <td class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </tr>

            <tr>
                <td>Main Image:</td>
                <td><input id="inputMainImg" type="file" name="imageProduct" accept="image/png, image/jpeg"/></td>
                <td th:if="${imageIsEmpty}" class="error" th:text="${imageEmptyError}"></td>
            </tr>

            <tr id="mainImage"></tr>


            <tr>
                <td>Image details:</td>
                <td><input id="inputImgDetail" type="file" name="imagesDetail" multiple accept="image/png, image/jpeg"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="imageDetails"></div>
                </td>
            </tr>
            <tr>
                <td>Brand:</td>
                <td>
                    <select th:field="*{brandDto}">
                        <option th:each="i : ${brandDtoList}" th:value="${i.id}" th:text="${i.name}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Category:</td>
                <td>
                    <select th:field="*{mainCategoryDto}">
                        <option th:each="categoryDto : ${categoryDtoList}" th:value="${categoryDto.id}">
                            <p th:each="i : ${#numbers.sequence(1,categoryDto.level)}" th:if="${categoryDto.level > 0}">
                                *</p>
                            <span th:text="${categoryDto.name }"/>
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>
                    <input type="text" th:field="*{description}">
                </td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="number" th:field="*{price}"/></td>
                <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"></td>
            </tr>
            <tr>
                <td>Screen:</td>
                <td><input type="text" th:field="*{screen}"/></td>
                <td th:if="${#fields.hasErrors('screen')}" th:errors="*{screen}" class="error"></td>

            </tr>

            <tr>
                <td>Ram:</td>
                <td><input type="text" th:field="*{ram}"/></td>
            </tr>

            <tr>
                <td>Camera:</td>
                <td><input type="text" th:field="*{camera}"/></td>
            </tr>

            <tr>
                <td>BatteryCharge:</td>
                <td><input type="text" th:field="*{batteryCharge}"/></td>
            </tr>
            <tr>
                <td>Operating System:</td>
                <td><input type="text" th:field="*{operatingSystem}"/></td>
            </tr>

            <tr>
                <td>Storage Capacity:</td>
                <td><input type="text" th:field="*{storageCapacity}"/></td>
            </tr>

            <tr>
                <td>Front Facing Camera:</td>
                <td><input type="text" th:field="*{frontFacingCamera}"/></td>
            </tr>

            <tr>
                <td>Rear Camera:</td>
                <td><input type="text" th:field="*{rearCamera}"/></td>
            </tr>

            <tr>
                <td>Chip:</td>
                <td><input type="text" th:field="*{chip}"/></td>
            </tr>

            <tr>
                <td>Sim:</td>
                <td><input type="text" th:field="*{sim}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<script>
    const mainImg = document.getElementById("mainImage")
    const inputMainImg = document.getElementById("inputMainImg")
    let mainImgOld = [];
    inputMainImg.onchange = function (e) {
        if (mainImgOld[0]) {
            URL.revokeObjectURL(mainImgOld[0])
            mainImgOld = [];
        }
        const srcImgMain = URL.createObjectURL(e.target.files[0])
        console.log(srcImgMain);
        mainImgOld[0] = srcImgMain;
        mainImg.innerHTML = `<img src=${srcImgMain} style="width: 100px; height: 100%" />`;
    }

    const inputImgDetail = document.getElementById("inputImgDetail")
    const imageDetailsTag = document.getElementById("imageDetails");
    let imgDetailOld = [];
    inputImgDetail.onchange = function (e) {
        if (imgDetailOld.length > 0) {
            for (let i = 0; i < imgDetailOld.length; i++) {
                URL.revokeObjectURL(imgDetailOld[i]);

            }
            imgDetailOld = [];
        }
        console.log(imgDetailOld)
        const files = e.target.files;
        let htmlString = '';
        for (let i = 0; i < files.length; i++) {
            let img = URL.createObjectURL(files[i])
            htmlString += `<span><img src=${img} style="width: 100px; height: 100%"/></span>`
            imgDetailOld.push(img);
        }


        imageDetailsTag.innerHTML = htmlString;
    }
</script>
</body>
</html>